<a href="https://colab.research.google.com/github/sahithi064/hr-data-analytics/blob/main/Copy_of_Untitled0_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files

In [ ]:
df=pd.read_excel('')
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
mean=df.mean()
mean

In [ ]:
df1=df.describe()
df1

In [ ]:
df.info()

In [ ]:
df.isnull()

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
products = ['sofas', 'convertible sofas', 'love seats', 'recliners', 'sofa beds']
words = ['buy', 'price', 'discount', 'promotion', 'promo','shop']
keywords_list = []

for product in products:
    for word in words:
        keywords_list.append([product, product + ' ' + word])
        keywords_list.append([product, word + ' ' + product])

from pprint import pprint
pprint(keywords_list)

In [ ]:
df1 = pd.DataFrame.from_records(keywords_list)
print(df1.head())
print(df1.tail())

In [ ]:
df.nunique()

In [ ]:
df1.info()

In [ ]:
df1 = df1.rename(columns={0:'Ad Group',1: 'Keyword'})

In [ ]:
df1

In [ ]:

data = df1['Ad Group'].value_counts()
plt.pie(data, labels=data.index, autopct="%1.1f%%")
plt.title("Pie Chart of Ad Groups")
plt.show()

In [ ]:
df1['Criterion Type'] = 'Exact'

In [ ]:
df1['Campaign'] = 'SEM_Sofas'

In [ ]:
df1

In [ ]:
df2 = df1.copy()
df2['Criterion Type'] = 'Phrase'
df3 =df1.append(df2)

In [ ]:
df3

In [ ]:
df3.to_csv('keywords.csv',index=False)
summary = df3.groupby(['Ad Group', 'Criterion Type'])['Keyword'].count()
print(summary)